body {
  font-size: 12pt;
  font-family: sans-serif;
}

.column {
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}

.columnHeader {
  text-align: center;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  height: 1.5em;
  position: relative;
}

.columnHeaderSpan {
  bottom: 0;
  position: absolute;
}

.wheel {
  position: relative;
  width: 0.8em;
  height: 1.1em;
  border: 1px solid #e7e7e7;
  margin: 1px;
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.numbers {
  position: absolute;
  color: black;
  width: 12em;
  font-family: 'Playfair Display', serif;
}

.number {
  display: block;
  float: left;
  width: 0.7em;
  text-align: center;
}

.shadeLeft {
  opacity: 0.15;
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -o-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -moz-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -webkit-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -ms-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
}

.shadeRight {
  opacity: 0.15;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
}
