body {
  font-size: 12pt;
  font-family: sans-serif;
  position: relative;
}

.column {
}

.columns {
  position: absolute;
  left: 0;
  width: 60%;
  top: 0;
  height: 80%;
}

.printout {
  position: absolute;
  right: 0;
  width: 40%;
  top: 0;
  height: 80%;
}

.printline {
  font-family: 'Droid Sans Mono';
  font-size: 10pt;
}

.paper {
  position: absolute;
  background: #FFFFEC;
  border: 1px solid #E0E0E0;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  overflow-y: scroll;
}

.papertable {
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
}

.columnHeader {
  text-align: center;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  height: 1.5em;
  position: relative;
}

.pointrow {
  border-bottom: 3px double silver;
  height: 0px;
  padding: 0px;
}

.columnHeaderSpan {
  bottom: 0;
  position: absolute;
}

.wheel {
  font-size: 11pt;
  position: relative;
  width: 0.8em;
  height: 1.1em;
  border: 1px solid #e7e7e7;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.numbers {
  position: absolute;
  color: black;
  width: 12em;
  font-family: 'Playfair Display', serif;
}

.number {
  display: block;
  float: left;
  width: 0.7em;
  text-align: center;
  margin-top: -0.15em;
}

.shadeLeft {
  opacity: 0.15;
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -o-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -moz-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -webkit-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -ms-linear-gradient(right , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
}

.shadeRight {
  opacity: 0.15;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 50%, rgb(0,0,0) 85%);
}
